/**locator Start**/
#locator_view {
  background: #f5f5f5;
  .top-search-input {
  }

  .district-list {
    .item {

      &.item-icon-right {
        .icon {
          &:last-child {
            right: 0;
          }
        }
      }
      .row {
        width: 88%;
        .name {
        }
        .distance {
          font-size: 12px;
          text-align: right;
        }
      }
    }
  }
}

/**locator  End**/
