/**
 * Define variables here
 */

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$energized: #ffc900 !default;
$royal: #886aea !default;
$dark: #444 !default;
$balanced: #3bc68e;
$energized: #FB6133;



$textColor: #ccc;
$button-light-border: #f5f5f5;
