<ion-view id="index_view">
  <ion-header-bar align-title="center" class="bar-balanced no-padding">

    <div class="row row-no-padding">
      <div class="col">
        <div class="locator" ng-click="vm.showLocator()">
          <span>{{districtItem.name}}</span>
          <i class="ion ion-arrow-down-b"></i>
        </div>
      </div>
      <div class="col icons text-right">
        <span class="chat">
          <i class="ion ion-ios-chatbubble-outline"></i>
        </span>
        <span class="search">
          <i class="ion ion-ios-search-strong"></i>
        </span>
      </div>
    </div>
    <span class="bg-opacity" ng-style="{opacity:vm.scrollOpacity}"></span>
  </ion-header-bar>

  <ion-content delegate-handle="indexIonContent" on-scroll="vm.onContentScroll()">
    <ion-slide-box does-continue="true">
      <ion-slide>
        <div class="box">
          <img src="images/phh-banner.png" alt="">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <img src="images/phh-banner_20160325.png" alt="">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <img src="images/phh-banner_20160406.png" alt="">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <img src="images/phh-banner_20160407.png" alt="">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <img src="images/phh-banner_20160411.png" alt="">
        </div>
      </ion-slide>

    </ion-slide-box>

    <section class="assertive white-bg marquee-notice">
      <i class="icon ion ion-volume-medium"></i>
      <span>欢迎光临小区!</span>
    </section>


    <section class="row white-bg text-center special-list">
      <a class="col">
        <i class="ion balanced ion-bag"></i>
        <span>特价专区</span>
      </a>
      <a class="col">
        <i class="ion assertive ion-ios-alarm-outline"></i>
        <span>每日签到</span>
      </a>
      <a class="col">
        <i class="ion positive ion-cash"></i>
        <span>优惠券</span>
      </a>
      <a class="col">
        <i class="ion royal ion-coffee"></i>
        <span>快递</span>
      </a>
    </section>


    <section class="box margin-vertical">
      <header class="box-header">
        <i class="icon balanced ion ion-leaf"></i>
        <span>舒适生活</span>
      </header>
      <div class="box-body">
        <img src="images/index_sp_afternoon.png" class="w100" alt="">
      </div>
    </section>


    <section class="box margin-vertical">
      <header class="box-header">
        <div class="row row-no-padding">
          <div class="col">
            <i class="icon assertive ion ion-flag"></i>
            <span>小店上新</span>
          </div>
          <div class="col text-right">
            <span>更多</span>
            <i class="ion ion-ios-arrow-right"></i>
          </div>
        </div>

      </header>
      <div class="box-body">
        <ul class="cf">
          <li class="goods-item" ng-repeat="item in vm.newList">
            <img ng-src="{{item.pic}}" alt="">

            <p class="name">
              {{item.goods_name}}
            </p>

            <p class="c9 spec">
              {{item.spec}}
            </p>

            <p class="price">
              {{item.price | currency:'￥'}} 元
            </p>

            <div class="text-left">
              <number-spinner class="col-90" value="item.__ui_value__"></number-spinner>
            </div>
          </li>
        </ul>
      </div>
    </section>


    <section class="box margin-vertical">
      <header class="box-header">
        <div class="row row-no-padding">
          <div class="col">
            <i class="icon balanced ion ion-thumbsup"></i>
            <span>掌柜推荐</span>
          </div>
          <div class="col text-right">
            <span>更多</span>
            <i class="ion ion-ios-arrow-right"></i>
          </div>
        </div>

      </header>
      <div class="box-body">
        <ul class="cf">
          <li class="goods-item" ng-repeat="item in vm.recommendList">
            <img ng-src="{{item.pic}}" alt="">

            <p class="name">
              {{item.goods_name}}
            </p>

            <p class="c9 spec">
              {{item.spec}}
            </p>

            <p class="price">
              {{item.price | currency:'￥'}} 元
            </p>

            <div class="text-left">
              <number-spinner class="col-90"></number-spinner>
            </div>
          </li>
        </ul>
      </div>
    </section>


    <section class="box margin-top">
      <header class="box-header">
        <div class="row row-no-padding">
          <div class="col">
            <i class="icon assertive ion ion-flame"></i>
            <span>小店热卖</span>
          </div>
          <div class="col text-right">
            <span>更多</span>
            <i class="ion ion-ios-arrow-right"></i>
          </div>
        </div>

      </header>
      <div class="box-body">
        <ul class="cf">
          <li class="goods-item" ng-repeat="item in vm.hotList">
            <img ng-src="{{item.pic}}" alt="">

            <p class="name">
              {{item.goods_name}}
            </p>

            <p class="c9 spec">
              {{item.spec}}
            </p>

            <p class="price">
              {{item.price | currency:'￥'}} 元
            </p>

            <div class="text-left">
              <number-spinner class="col-90"></number-spinner>
            </div>
          </li>
        </ul>
      </div>
    </section>


    <footer class="balanced padding text-center" ui-sref="main.store">
      <span>
        查看更多商品
      </span>
      <i class="icon ion ion-ios-arrow-right"></i>
    </footer>

  </ion-content>

</ion-view>
