<ion-view id="my-view" class="slide-left-right">
  <ion-content scrollbar-y="false">

    <header>
      <div class="list info-list">
        <a class="item item-avatar item-icon-right" ui-sref="main.settings">
          <img src="images/zjdd-rect-logo.png">

          <h2>Afei</h2>

          <p>
            <i class="ion ion-iphone"></i>
            <span>15316023650</span>
          </p>

          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>

      <div class="row text-center share-list">
        <div class="col ">
          <i class="icon ion-ios-list-outline"></i>
          <span>订单</span>
        </div>
        <div class="col">
          <i class="icon ion-soup-can-outline"></i>
          <span>积分</span>
        </div>
        <div class="col">
          <i class="icon ion-cash"></i>
          <span>优惠券</span>
        </div>
      </div>
    </header>


    <div class="list setting-list">
      <div class="item item-divider"></div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-email"></i>
        申请开店
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-locked"></i>
        邀请好友赚积分
        <i class="icon ion-ios-arrow-right"></i>
      </a>


      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-alert"></i>
        收货地址
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-android-add"></i>
        联系店主
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-android-add-circle"></i>
        常见问题
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-search"></i>
        联系客服
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-analytics"></i>
        意见反馈
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-alarm-outline"></i>
        关于我们
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-paper"></i>
        加入我们
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div class="item item-divider"></div>
      <button class="button button-full button-light button-outline assertive">退出</button>

    </div>


  </ion-content>

</ion-view>
