<article class="flow">
  <section class="padding">
    <div class="margin-vertical">
      团购成功：在指定的时间内，本小区有相应人数支付成功，则该团购成功，等待收货。
    </div>

    <div class="margin-vertical">
      <p>团购失败：</p>
      <p>a. 在指定时间内未能有相应人数的小区用户下单，则该团团购失败，并自动退款。</p>
      <p>b. 在团有效期内，商品已提前售罄，但团人数还未达到相应要求，则该团也失效。</p>
    </div>
  </section>

  <section class="white-bg padding">
    <p>拼团，是基于同一小区用户的组团购买，获取团购优惠，为了保证广大消费者的利益，在家点点有权将判定为黄牛倒货的团解散并取消订单。</p>
    <p>退款说明：系统会在3个工作日提交微信/支付宝处理，微信/支付宝审核后会在2-5个工作日内自动退款至您的支付账号。</p>
  </section>
</article>
