<ion-tabs class="tabs-light tabs-icon-top">

  <ion-tab title="首页" class="tab-item-balanced" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="main.index">
    <ion-nav-view name="index"></ion-nav-view>
  </ion-tab>

  <ion-tab title="超市" class="tab-item-balanced"  icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" ui-sref="main.store">
    <ion-nav-view name="store"></ion-nav-view>
  </ion-tab>

  <ion-tab title="拼点货" class="tab-item-balanced"  icon-on="ion-ios-alarm" icon-off="ion-ios-alarm-outline" ui-sref="main.goods">
    <ion-nav-view name="goods"></ion-nav-view>
  </ion-tab>

  <ion-tab title="购物车" badge="cartBadges" badge-style="badge-assertive" class="tab-item-balanced"  icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="main.cart">
    <ion-nav-view name="cart"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我" class="tab-item-balanced"  icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="main.my">
    <ion-nav-view name="my"></ion-nav-view>
  </ion-tab>

</ion-tabs>
